{% extends 'base.html' %}

{% block title %}
Профиль пользователя {{ request.user }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

<h1> Редактирование профиля </h1>

<form method="post" enctype="multipart/form-data">

    {% csrf_token %}

    {{ form.as_p }}
    <img src="{{ request.user.avatar.url }}" width="200px" height="200px" />

    <br>
    <br>

    <a href="{% url 'change_password_route' request.user.username %}"> Изменить пароль </a> <br> <br>

    <button type="submit" class="btn btn-primary" name="reset_pass"> Сбросить пароль </button>

    <button type="submit" class="btn btn-primary">
        Сохранить
    </button>

</form>

{% endblock %}