{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

    {% for news_item in news %}

    <div class="card mb-3">

        <div class="card-header">
            Категория: {{ news_item.category }}
        </div>

        <div class="card-body">
            <div class="media d-flex">

                {% if news_item.image %}
                <img src="{{ news_item.image.url }}" alt="" height="300" width="300" class="me-3">
                {% else %}

                {% endif %}

                <div class="media-body">
                    <h5 class="card-title"> {{ news_item.title|safe }} </h5>
                    <p class="card-text"> {{ news_item.content|safe|truncatewords:50 }} </p>
                    <a href="{{ news_item.get_absolute_url }}" class="btn btn-primary"> Read more... </a>
                </div>

            </div>


        </div>

        <div class="card-footer text-muted">
            {{ news_item.user }}, {{ news_item.created_at|date:"Y-m-d H:i" }}
            <span style="float:right" class="badge rounded-pill text-bg-primary"> {{ news_item.views_count }} views </span>
        </div>

    </div>

    {% endfor %}

{% endblock %}