{% extends 'base.html' %}

<! -- выводим тайтл из передаваемой в контексте переменной title
и тайтл из базового темплейта -->

{% block title %}
{{ title }} {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

{% include 'inc/_slider.html' %}

{% for news_item in news %}
<div class="card mb-3">

    <div class="card-header">
        <a href="{{ news_item.category.get_absolute_url }}" class="list-group-item list-group-item-action">
            Категория: {{ news_item.category }} </a>
    </div>

    {% include 'inc/_news_item.html' %}

</div>
{% endfor %}

{% endblock %}