{% extends 'base.html' %}

<! -- выводим тайтл из передаваемой в контексте переменной title
и тайтл из базового темплейта -->

{% block title %}
{{ news_item.title }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

<div class="card mb-3">

    <div class="card-header">
        <a href="{{ news_item.category.get_absolute_url }}" class="list-group-item list-group-item-action"> Категория: {{ news_item.category }} </a>
    </div>

    <div class="card-body">

        {# <div class="media d-flex"> #}

        {% if news_item.image %}
        <img src="{{ news_item.image.url }}" alt="" height="300" width="300" class="float-start me-3">
        {% else %}

        {% endif %}

        {# <div class="media-body"> #}
            <h5 class="card-title"> {{ news_item.title|safe }} </h5>
            <p class="card-text"> {{ news_item.content|safe }} </p>
            {# </div> #}

        {# </div> #}

        {% if request.user == news_item.user or user.is_staff %}

        <form action="{% url 'delete_news_route' pk=news_item.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger float-end">Удалить новость</button>
        </form>

        <form action="{% url 'edit_news_route' pk=news_item.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-primary">Редактировать новость</button>
        </form>

        {% endif %}

    </div>

    <div class="card-footer text-muted">
        {{ news_item.user }}, {{ news_item.created_at|date:"Y-m-d H:i" }}
        <span style="float:right" class="badge rounded-pill text-bg-primary"> {{ news_item.views_count }} views </span>
    </div>

</div>

{% endblock %}