{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}


{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}


{% block search %}
{% include 'inc/_search.html' %}
{% endblock %}


{% block content %}

    {% if not search_str %}
    <h3> Новости </h3>
    {% else %}
    <h3> Новости по запросу "{{ search_str }}" </h3>
    {% endif %}

    {% include 'inc/_slider.html' %}

    {% for news_item in news %}
    <div class="card mb-3 mt-3">

        <div class="card-header">
            <a href="{{ news_item.category.get_absolute_url }}" class="list-group-item list-group-item-action">
                Категория: {{ news_item.category }} </a>
        </div>

        {% include 'inc/_news_list_news_item.html' %}

    </div>
    {% endfor %}

{% endblock %}

{% block footer %}
{% include 'inc/_footer.html' %}
{% endblock %}