{% extends 'base.html' %}

<! -- выводим тайтл из передаваемой в контексте переменной title
и тайтл из базового темплейта -->

{% block title %}
{{ title }} {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

{% for news_item in news %}
<div class="card mb-3">

    <div class="card-header">
        <a href="{{ news_item.category.get_absolute_url }}" class="list-group-item list-group-item-action"> Категория: {{ news_item.category }} </a>
    </div>

    <div class="card-body">
        <div class="media d-flex">

            {% if news_item.image %}
            <img src="{{ news_item.image.url }}" alt="" height="300" width="300" class="me-3">
            {% else %}

            {% endif %}

            <div class="media-body">

                <h5 class="card-title">
                    <a href="{{ news_item.get_absolute_url }}" style="text-decoration: none; color: black"> {{ news_item.title|safe }} </a>
                </h5>

                <p class="card-text"> {{ news_item.content|safe|truncatewords:50 }} </p>

                <form method="post" enctype="multipart/form-data"
                      {% if news_item.pk in user_liked_posts %}
                      action="{% url 'unlike_route' news_item.pk %}"
                      {% else %}
                      action="{% url 'like_route' news_item.pk %}">
                      {% endif %}

                    {% csrf_token %}

                    {% if news_item.pk in user_liked_posts %}

                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit" name="unlike"> 🖤 unlike </button>
                    {% else %}
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit" name="like"> ♡ like </button>
                    {% endif %}

                    <a href="{{ news_item.get_absolute_url }}" class="btn btn-primary"> Read more... </a>

                </form>

            </div>

        </div>

    </div>

    <div class="card-footer text-muted">
        {{ news_item.user }}, {{ news_item.created_at|date:"d M, Y H:i" }}
        <span style="float:right" class="badge rounded-pill text-bg-primary"> {{ news_item.views_count }} views </span>
        <span style="float:right; margin-right: 10px" class="badge rounded-pill text-bg-danger"> {{ news_likes|dict_value:news_item.pk }} likes </span>
    </div>

</div>
{% endfor %}

{% endblock %}