<nav class="navbar navbar-expand-lg" style="">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home_route' %}">Главная</a>
                </li>

                {% if request.user.is_authenticated %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_news_route' %}">Добавить новость</a>
                </li>

                {% endif %}

                {% if request.user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="http://127.0.0.1:8000/admin/">Перейти в админку</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        API auth tokens
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'token_route' %}">Token</a></li>
                        <li><a class="dropdown-item" href="{% url 'jwt_token_route' %}">JWT</a></li>
                    </ul>
                </li>

                {% endif %}

            </ul>

        </div>

        <!-- Dropdown user menu -->
        {% if request.user.is_authenticated %}
        <ul class="navbar-nav">

            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-mdb-toggle="dropdown" aria-expanded="false">
                    {{ request.user.username }}
                </a>

                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">

                    <li>
                        <a class="dropdown-item" href="{% url 'edit_profile_route' request.user.username %}">Настройки
                            учетной
                            записи</a>
                    </li>

                    <li>
                        <a class="dropdown-item" href="{% url 'logout_route' %}">Выйти</a>
                    </li>

                </ul>
            </li>

        </ul>
        {% else %}
        <a class="nav-link" href="{% url 'register_route' %}">Зарегистрироваться </a>
        <a class="nav-link" href="{% url 'login_route' %}">Войти </a>
        {% endif %}
        <!-- Dropdown user menu -->
    </div>
</nav>