<form id="likeForm" method="post" enctype="multipart/form-data" action="{% url 'like_route' news_item.pk %}">

    {% csrf_token %}

    {% if request.user.is_authenticated %}
        {# type="submit" #}
        {% if news_item.pk in user_liked_posts %}
            <button name="like_btn" value="{{ news_item.pk }}" class="btn btn-danger btn-rounded"> 🖤 </button>
        {% else %}
            <button name="like_btn" value="{{ news_item.pk }}" class="btn btn-outline-danger btn-rounded"> ♡ </button>
        {% endif %}

    {% endif %}

    <a href="{{ news_item.get_absolute_url }}" class="btn btn-primary"> Читать далее... </a>

</form>