<form method="post" enctype="multipart/form-data" action="{% url 'like_route' news_item.pk %}">

    {% csrf_token %}

    {% if request.user.is_authenticated %}

        {% if news_item.pk in user_liked_posts %}
            {% csrf_token %}
            <button class="btn btn-danger" type="submit" name="unlike"> 🖤 unlike </button>
        {% else %}
            {% csrf_token %}
            <button class="btn btn-danger" type="submit" name="like"> ♡ like </button>
        {% endif %}

    {% endif %}

    <a href="{{ news_item.get_absolute_url }}" class="btn btn-primary"> Read more... </a>

</form>