{% if news|length > 1 %}
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-indicators">

        {% for news_item in news %}

            {% if forloop.first %}
                <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active" aria-current="true"></button>
            {% else %}
                <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="{{ forloop.counter0 }}"></button>
            {% endif %}

        {% endfor %}

    </div>

    <div class="carousel-inner">

        {% for news_item in news %}

            <div {% if forloop.first %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}>

                {% if news_item.image %}
                    <img src="{{ news_item.image.url }}" height="400" width="600" class="d-block w-100">
                {% else %}
                    <img src="https://img.freepik.com/free-vector/smooth-white-wave-background_52683-55288.jpg?w=2000" height="400" width="600" class="d-block w-100">
                {% endif %}

                <div class="carousel-caption d-none d-md-block" {% if not news_item.image %} style="color: black" {% endif %}>
                    <h5> <a href="{{ news_item.get_absolute_url }}" style="color: white" target="_blank"> {{ news_item.title }} </a> </h5>
                    <p> {{ news_item.content|safe|truncatewords:5 }} </p>
                </div>

            </div>

        {% endfor %}

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

</div>
{% endif %}